.blogWrapper {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    grid-gap: 30px;
}

.tutorialWrap {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    grid-gap: 30px;
}


/* form */

.formWrapper {
    width: 400px;
    padding: 20px;
    background-color: aqua;
    margin: auto;
    text-align: center;
}

.searchWrapp {
    text-align: center;
}